<app-menu></app-menu>
<div class="body">
    <div class="container-fluid pt-3">
        <!--Início-->
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card-info">
                    <h1>Bem-vindo à CarStore: A Sua Loja Virtual de Carros e Peças Automotivas!</h1>
                    <p>Na CarStore, estamos comprometidos em fornecer a você uma experiência de compra online única e inovadora,
                       oferecendo uma vasta seleção de carros e peças automotivas de alta qualidade. Nossa missão é simplificar a busca pelo
                       carro dos seus sonhos e pelas peças que você precisa, tudo a partir do conforto da sua casa.</p>
                </div>
            </div>
        </div>

        <hr>

        <!--Oferta-->
        <div class="row">
            <h2>Nossa Oferta</h2>
            <div class="col-12 col-lg-12">
                <div class="row">

                    <!--Carro-->
                    <div class="col-12 col-md-6">
                        <div class="card-info">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <p><span>Carros Novos e Usados:</span> Navegue pela nossa seleção diversificada de carros novos e usados. Cada veículo passa por uma rigorosa inspeção de qualidade para garantir que você receba um carro em excelente estado, pronto para rodar.</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <img src="../../../assets/ferrari.png" style="width: 70%;">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!--Peça-->
                    <div class="col-12 col-md-6">
                        <div class="card-info">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <p><span>Peças e Acessórios:</span> Oferecemos uma ampla gama de peças e acessórios automotivos, desde componentes essenciais do motor até itens de personalização. Nossos produtos são selecionados de fornecedores confiáveis para garantir durabilidade e desempenho.</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <img src="../../../assets/turbo.png" style="width: 70%;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card-info">
                    <h2>Por Que Escolher a CarStore?</h2>
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p><span>Facilidade de Navegação:</span> Nosso site é projetado para ser intuitivo e fácil de usar, permitindo que você encontre rapidamente o que procura.</p>
                            <p><span> Segurança:</span> Garantimos um ambiente de compra seguro, com várias opções de pagamento e proteção de dados.</p>
                            <p><span>Atendimento ao Cliente:</span> Nossa equipe de suporte está sempre disponível para ajudar com qualquer dúvida ou necessidade que você possa ter. O seu satisfação é a nossa prioridade.</p>
                            <p><span>Entrega Rápida:</span> Com parceiros logísticos confiáveis, asseguramos que seu pedido chegue ao seu endereço de forma rápida e segura.</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <img src="../../../assets/atendimento.png" style="width: 70%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>