.titulo {
    font-size: 26px;
    font-weight: 500;
    padding: 0;
    margin: 0 !important;
    color: var(--primary-color);
}

.subtitulo {
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    padding: 2px 0px 14px 0px;
    color: var(--gray-color);
}

// tabela
.no-data {
    padding: 8px 14px;
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-color);
}

tr { height: 40px; }

.th-table {
    font-size: 14px;
    font-weight: 500;
    color: #5a5a5a;
}

.td-table {
    font-size: 12px;
    font-weight: 400;
    color: #767676;
}

.icone-tabela {
    color: #767676;
    margin-right: 10px;
    transform: rotate(0deg);
    transition: 0.3s linear all;

    &:hover {
        cursor: pointer;
        color: var(--primary-color);
        transform: rotate(359deg);
    }
}

.body {
    width: auto;
    height:100%;
    margin-left: 225px;
    background-color: black;

    .titulo {
        font-size: 26px;
        font-weight: bold;
        padding: 0;
        margin-left: 15px;
        color: whitesmoke;
    }

    .no-data {
        padding: 8px 14px;
        font-weight: bold;
        font-size: 14px;
    }

    tr { height: 40px; }

    .th-table {
        font-size: 14px;
        font-weight: bold;
        color: black;
        background-color: white;
    }

    .td-table {
        font-size: 12px;
        font-weight: 300;
        color: black;
    }

    .icone-tabela {
        color: var(--color-theme);
        transition: 0.3s linear all;
        &:hover {
            cursor: pointer;
            transform:scale(1.3);
        }
    }
}