<div class="body">
    <div class="container-fluid p-3">
        <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>
    
        <h1 class="titulo">Inclusão de Carros</h1>
    
        <form action="" class="row" [formGroup]="formCarros">
    
            <!--Campo de Km-->
            <div class="col12 col-md-6 mb-2">
                <mat-form-field class="example-full-with w-100">
                    <mat-label>Km</mat-label>
                    <input type="text" matInput formControlName="codigo" placeholder="Digite o km do carro...">
                    @if (formCarros.controls["codigo"].invalid) {
                      <mat-error>Informe um código válido</mat-error>
                    }
                </mat-form-field>
            </div>
    
            <!--Campo Modelo-->
            <div class="col12 col-md-6 mb-2">
                <mat-form-field class="example-full-with w-100">
                    <mat-label>Modelo</mat-label>
                    <input type="text" matInput formControlName="nome" placeholder="Digite o modelo...">
                    @if (formCarros.controls["nome"].invalid) {
                        <mat-error>Informe um nome válido</mat-error>
                    }
                </mat-form-field>
            </div>
    
            <!--Campo de Marca-->
            <div class="col12 col-md-6 mb-2">
                <mat-form-field class="example-full-with w-100">
                    <mat-label>Marca</mat-label>
                    <input type="text" matInput formControlName="descricao" placeholder="Digite a marca do carro...">
                    @if (formCarros.controls["descricao"].invalid) {
                      <mat-error>Informe uma descrição valido</mat-error>
                    }
                </mat-form-field>
            </div>
    
            <!--Campo de Valor-->
            <div class="col12 col-md-6 mb-2">
                <mat-form-field class="example-full-with w-100">
                    <mat-label>Valor R$</mat-label>
                    <input type="number" matInput formControlName="valor" placeholder="Informe o valor do carro...">
                    @if (formCarros.controls["valor"].invalid) {
                      <mat-error>Informe um valor valido</mat-error>
                    }
                </mat-form-field>
            </div>
    
            <div class="col-12">
                <button class="botao float-end" [disabled]="!formCarros.valid" (click)="save()">Salvar</button>
                <button class="botao float-end" [disabled]="!formCarros.valid" (click)="closeModal()">Cancelar</button>
            </div>
    
        </form>
    
    </div>
</div>
