.footer {
    width: 100%;
    height: auto;
    position:sticky;
    bottom: 0;
    background-color: var(--color-theme);
    color: whitesmoke;

    h1 {
        font-size: 16px;
        margin-left: 15px;
        padding: 0;
    }

    p {
        font-size: 12px;
        margin-left: 15px;
        padding: 0;
    }

    .descricao {
        text-align: center;
    }
}