<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <h1>Nossos Valores</h1>
                <p>Na CarStore, valorizamos a transparência, a integridade e a excelência. Cada interação é uma oportunidade
                   para demonstrar nosso compromisso com esses valores. Buscamos constantemente melhorar nossos serviços e produtos 
                   para garantir a melhor experiência possível para nossos clientes.</p>
            </div>
    
            <div class="col-12 col-md-6">
                <h1>Junte-se a Nós</h1>
                <p>Aqui você irá descubrir por que a CarStore é a escolha certa para suas necessidades automotivas. Seja você um entusiasta
                   de carros ou alguém em busca de peças confiáveis, estamos aqui para ajudar. Explore, compre e dirija com confiança com a CarStore.</p>
            </div>
            
        </div>
    
        <p class="descricao">© 2024 | Desenvolvido por Gabriel Ribeiro - Ivanildo Nogueira - Fabio Miguel</p>
    </div>
</div>