<nav class="menu">
    <ul>
        <li routerLink="/home" >
            <img src="../../../assets/icon-logo.png" width="100px">
            <span class="logo">CarStore</span>
        </li>
        <li routerLink="/home"><img src="../../../assets/icon-home.png" class="icon">Home</li>
        <li routerLink="/page1"><img src="../../../assets/icon-page1.png" class="icon">Peças</li>
        <li routerLink="/page2"><img src="../../../assets/icon-page2.png" class="icon">Pedidos</li>
        <li routerLink="/page3"><img src="../../../assets/icon-page3.png" class="icon">Carros</li>
        <li routerLink="/crud"><mat-icon>Carros</mat-icon>Cadastrar</li>
    </ul>
</nav>